body {
	background-color: #000000;
	color: #f5f5dc
}

html, 
body {
	height: 100%;
	margin: 0;
	padding: 0;
}

h1 {
	text-align: center;
}

.map {
	height: 95%;
	padding: 0;
	margin: 0;
	color: #000000;
}

ul {
	padding: 5px;
}

li {
	list-style-type: none;
	list-style-position:inside;
	border: 2px solid red;
	height: 4em;
	vertical-align: middle;
	cursor: pointer;
}

#search-text {
	color: #000000;
}

.img-info {
	max-height: 150px;
}
