/** {
    border: 1px solid red !important;
}*/


* {box-sizing:border-box;}
body {background-color: #FFFFFF;}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

h1{
    text-align: center;
}

.map {
    height: 100%;
    padding: 0;
    margin: 0;
}
